app_v1.py
app_v2.py
cantieri_data_v1.py
cantieri_data_v2.py
cantieri_data_v3.py
cantieri_data.py.backup
test.py
__pycache__/
*.pyc
templates/base_v1.html
templates/cookie-policy_v1.html
templates/dettaglio-cantiere_v1.html
templates/dettaglio-cantiere_v2.html
templates/dettaglio-cantiere.html.backup
templates/mappa_v1.html
templates/contatti_faq.html
venv/
.venv/
converti_tutti_cantieri.py
static/video/beni-culturali.mp4
static/models/bugatti.glb
.env
static/css/cookie-consent.css
static/js/cookie-consent_v1.js
struttura.txt
